* {
	margin:0;
	padding:0;
}

body {
	/*background-image:url("../img/memphis-colorful.png");*/
}


.page {
	margin:20px auto;
	width:50%;
}


.head {
	margin:0px auto;
	text-align:center;
	font-size:22pt;
	font-family: Comic San-serif;
	background-color:#007bff;
	color:#ffffff;
	border-top:1px solid #007bffad;
	border-bottom:1px solid #007bffad;
	border-left:1px solid #007bffad;
	border-right:1px solid #007bffad;

}

.main {
	margin-top:25px;
}

.tab-content {
	margin-top:0px;
	background-color:white;
}

.change_tab {
	margin:0px auto;
}

.change_tab_link {
	margin:0px auto;
	width:49.5%;
	height:60px;
	text-align:center;
	font-size:17pt;
	background-color:#343a40;
	color:white;
}

.change_tab_link:hover {
	color:white;
	cursor:hand;
	background-color:#007bffad;
}

.change_tab_link.active {
	background-color:#007bffad !important;
	color:white !important;
}

.form-row {
	margin:0px auto;
	width:90%;
}

.text-view {
    height: 100px;
    font-size: 16pt;
    margin-left: 2px;
    padding-right: 2px;
    font-weight: lighter;
    border: 1px solid #00000047;
    text-align:center;
    font-weight:bold;
    border-color:#007bffad;
}

#results {
	float:right;
}

.button-chk {
	margin:20px auto;
	width:60%;
}

.tab-content {
	border-top:none;
	border-right:1px solid #6c757d;
	border-bottom:1px solid #6c757d;
	border-left:1px solid #6c757d;
}

.author {
	margin:0px auto;
	text-align:center;
	font-size:12pt;
	font-weight:lighter;
}

.author > a >img {
	width: 25px;
    height: 25px;
} 

/*#f0f3f5*/
/*#343a40*/